<div id="forgot-password-card">
  <p-button
    label="Back to Login"
    icon="pi pi-arrow-left"
    styleClass="p-button-link"
    [routerLink]="['/login']"
  ></p-button>
  <p-card header="Reset password">
    <form [formGroup]="forgotPasswordForm">
      <span class="p-float-label">
        <input
          pInputText type="text"
          formControlName="email"
        >
        <label for="email-input">Email</label>
      </span>

      <p-messages></p-messages>

      <p-button
        id="forgot-password-button"
        label="Send Email"
        [disabled]="forgotPasswordForm.invalid"
        [loading]="forgotPasswordButtonLoading"
        type="submit"
        (onClick)="sendEmail()"
      ></p-button>
    </form>
  </p-card>
</div>
