#forgot-password-card {
  display: grid;
  width: 50vw;
  margin: 5rem auto;
}

#forgot-password-button {
  margin-top: calc(var(--content-padding) * 1.25);
}

:host ::ng-deep {
  .p-card-content {
    padding-bottom: 0.5rem;
  }

  .p-inputtext {
    width: 100%;
  }
}
