<p-dialog
  id="create-sprint-modal"
  header="Create Sprint"
  [modal]="true"
  [(visible)]="createSprintModalShown"
  [style]="{width: '50vw'}"
  [draggable]="false"
  [resizable]="false"
>
  <p>form in here</p>

  <div id="sprint-modal-action-buttons">
    <button
      pButton class="p-button-success"
      icon="pi pi-check"
      (click)="acceptModalInput()"
    ></button>

    <button
      pButton class="p-button-danger"
      icon="pi pi-times"
      (click)="cancelModalInput()"
    ></button>
  </div>
</p-dialog>

<p-toast></p-toast>
