<p-dialog
  [modal]="true"
  [(visible)]="editLabelModalShown"
  [draggable]="false"
  [resizable]="false"
  styleClass="dialog"
>
  <div id="modal-body">
    <div id="modal-forms">
      <img id="avatar" [src]="imageSrc" alt="avatar"  width="50" height="50" >
      <form  (submit)="getAvatars({mouth: [this.mouth], eyes: [this.eyes], translateX: this.translateX,
    translateY: this.translateY, backgroundType: [this.backgroundType], backgroundColor: [this.backgroundColor], radius: 30})">
      <br>
      <div class="options">
        <div class="mouth">
          <label>Mouth</label><br>
          <button pButton (click)="prevMouth()"><i class="pi pi-chevron-left" ></i></button>
          <button pButton (click)="nextMouth()"><i class="pi pi-chevron-right"></i></button><br><br>
        </div>
        <div class="eyes">
          <label>Eyes</label><br>
          <button pButton (click)="prevEyes()" ><i class="pi pi-chevron-left"></i></button>
          <button pButton (click)="nextEyes()" ><i class="pi pi-chevron-right"></i></button><br><br>
        </div>
      </div>
      <div>
        <label for="backgroundColor">Color</label><br>
        <p-colorPicker name="backgroundColor" [(ngModel)]="backgroundColor" [inline]="true"></p-colorPicker><br>
        <button pButton (click)="changeColor(backgroundColor)">Accept Color</button><br><br>
      </div>
    </form>
    </div>

    <div id="action-buttons">
      <button pButton (click)="getRandomAvatar()">Random Avatar</button><br><br>
      <button pButton class="p-button-success" (click)="saveAvatar()">Save</button>
      <button pButton class="p-button-danger" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</p-dialog>
<p-toast></p-toast>
