<task-progress-tag class="progressHead" (click)="overlayPanel.toggle($event)" [progress]="selectedProgress"></task-progress-tag>

<p-overlayPanel
  [dismissable]="true"
  [showCloseIcon]="true"
  #overlayPanel
>
  <div class="options">
    <task-progress-tag (click)="showOption('Backlog')" progress="Backlog"></task-progress-tag>
    <task-progress-tag (click)="showOption('In Progress')" progress="In Progress"></task-progress-tag>
    <task-progress-tag (click)="showOption('In Review')" progress="In Review"></task-progress-tag>
    <task-progress-tag (click)="showOption('Done')" progress="Done"></task-progress-tag>
  </div>
</p-overlayPanel>

<p-toast></p-toast>
