<p-accordionTab [selected]="true">
  <ng-template pTemplate="header">
    <div class="sprint-dropdown-header">
      <p class="sprint-dropdown-header-item" id="sprint-dropdown-header-title">{{ data.name }} | {{ format(data.startDate, 'MM/dd/yyyy') }} - {{ format(data.dueDate, 'MM/dd/yyyy') }}</p>

      <p class="sprint-dropdown-header-item">Completed:</p>
      <p-chip class="sprint-dropdown-header-item sprint-dropdown-header-chip" label="{{data.pointsCompleted}}" styleClass="p-mr-2"></p-chip>

      <p class="sprint-dropdown-header-item">Attempted:</p>
      <p-chip class="sprint-dropdown-header-item sprint-dropdown-header-chip" label="{{data.pointsAttempted}}" styleClass="p-mr-2"></p-chip>

      <i *ngIf="sprintComplete; else incompleteIconHeader" class="pi pi-check sprint-dropdown-header-item" style="font-size: 2rem;"></i>
      <ng-template #incompleteIconHeader>
        <i class="pi pi-times sprint-dropdown-header-item" style="font-size: 2rem;"></i>
      </ng-template>
    </div>
  </ng-template>

  <ng-template pTemplate="body">
    Name: {{ data.name }}, dueDate: {{ data.dueDate }}, completed: 
    <i *ngIf="sprintComplete; else incompleteIconBody" class="pi pi-check"></i>
    <ng-template #incompleteIconBody>
      <i class="pi pi-times"></i>
    </ng-template>
    <p-divider></p-divider>
    <p-accordion [multiple]="true">
      <task-dropdown *ngFor="let task of data.tasks" [taskData]="task"></task-dropdown>
    </p-accordion>
  </ng-template>
</p-accordionTab>
