<p-dialog
  header="Create Sprint"
  [modal]="true"
  [(visible)]="createSprintModalShown"
  [draggable]="false"
  [resizable]="false"
>
  <div id="modal-body">
    <div id="modal-forms">
      <span class="p-float-label">
        <input id="name-input" type="text" pInputText [(ngModel)]="inputName" />
        <label for="name-input">Name</label>
      </span>

      <div class="date-input">
        <p style="margin-bottom: 0px;">Start Date</p>
        <p-calendar [(ngModel)]="inputStartDate" [showIcon]="true" [disabled]="inputIsBacklog"></p-calendar>
      </div>

      <div class="date-input">
        <p style="margin-bottom: 0px;">End Date</p>
        <p-calendar [(ngModel)]="inputEndDate" [showIcon]="true" [disabled]="inputIsBacklog"></p-calendar>
      </div>

      <p style="margin-bottom: 0px;">Goal</p>
      <p-editor
        [(ngModel)]="inputGoal"
        [style]="{ height: '18em' }"
      >
        <ng-template pTemplate="header">
          <span class="ql-formats">
            <select class="ql-header"></select>
          </span>
          <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button type="button" class="ql-italic" aria-label="Italic"></button>
            <button type="button" class="ql-underline" aria-label="Underline"></button>
          </span>
          <span class="ql-formats">
            <button type="button" class="ql-list" value="ordered" aria-label="Ordered List"></button>
            <button type="button" class="ql-list" value="bullet" aria-label="Bullet List"></button>
          </span>
        </ng-template>
      </p-editor>

      <p-checkbox [(ngModel)]="inputIsBacklog" [binary]="true" inputId="backlog-input" label="Sprint is a backlog?"></p-checkbox>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton class="p-button-success"
      id="accept-button"
      icon="pi pi-check"
      (click)="acceptModalInput()"
    ></button>
    <button
      pButton class="p-button-danger"
      id="cancel-button"
      icon="pi pi-times"
      (click)="cancelModalInput()"
    ></button>
  </ng-template>

</p-dialog>

<p-toast></p-toast>
