<app-team-members-form>
</app-team-members-form>

<div>
    <h1>Get team members from database</h1>
    <table>
        <thead></thead>
        <tbody>
            <tr *ngFor = "let member of service.list">
            <td (click)="populateForm(member)">{{member.username}}</td>
            <td (click)="populateForm(member)">{{member.password}}</td>
            <td (click)="populateForm(member)">{{member.email}}</td>
            <td (click)="populateForm(member)">{{member.role}}</td>
            <td>
                <i (click)="onDelete(member.id)">Delete</i>
            </td>
            </tr>
        </tbody>
    </table>
</div>