<button pButton id="project-back-button" class="p-button-raised p-button-sm" type="button" label="Back to Project" icon="pi pi-arrow-left" [routerLink]="['/project', 0]"></button>

<title-inplace [entityData]="taskData" size="large"></title-inplace>

<p-chip label="{{taskData.storyPoints}}" styleClass="p-mr-2"></p-chip>
<p-tag styleClass="mr-2" value="{{taskData.progress}}"></p-tag>
<span>{{ taskData.assignee }}</span>

<h4>Description:</h4>
<description-inplace [entityData]="taskData"></description-inplace>

<date-inplace
    [entityData]="taskData"
    whichDate="start"
></date-inplace>
<i class="pi pi-minus date-minus"></i>
<date-inplace
    [entityData]="taskData"
    whichDate="end"
></date-inplace>
