<p-menubar [model]="menuItems" styleClass="nav-menubar">
  <ng-template pTemplate="start">
    <img
      id="cuttlefish-logo"
      src="assets/cuttlefish_logo.png"
      alt="Cuttlefish Logo"
      height="50px"
      [routerLink]="['/projects']"
    >
  </ng-template>
  <ng-template pTemplate="end">
    <div
      #userMenuIcon
      class="user-dropdown-button"
      (click)="userMenu.toggle($event)"
    >
      <p-avatar
        *ngIf="signedInUser === undefined"
        class="user-avatar"
        shape="circle"
        icon="pi pi-user"
      ></p-avatar>
      <p-avatar
        *ngIf="signedInUser !== undefined"
        class="user-avatar"
        [image]="signedInUser.avatar"
      ></p-avatar>
      <i class="pi pi-angle-down menu-icon"></i>
    </div>
    <p-menu
      #userMenu
      [model]="userMenuItems"
      [popup]="true"
    ></p-menu>
  </ng-template>
</p-menubar>

<create-project-modal
  #createProjectModal
  [projects]="projects"
></create-project-modal>

<p-toast></p-toast>
