<p-accordionTab
  *ngIf="!hidden"
  [selected]="!collapsed"
>
  <ng-template pTemplate="header">
    <div [class.backlog-dropdown-header]="data.isBacklog" class="sprint-dropdown-header">
      <p *ngIf="!data.isBacklog" class="sprint-dropdown-header-item" id="sprint-dropdown-header-title">{{ data.name }} | {{ format(data.startDate, 'MM/dd/yyyy') }} - {{ format(data.endDate, 'MM/dd/yyyy') }}</p>
      <p *ngIf="data.isBacklog" class="sprint-dropdown-header-item" id="sprint-dropdown-header-title">{{ data.name }}</p>

      <p *ngIf="!data.isBacklog" class="sprint-dropdown-header-item">Completed:</p>
      <p-chip *ngIf="!data.isBacklog" class="sprint-dropdown-header-item sprint-dropdown-header-chip" label="{{data.pointsCompleted}}" styleClass="p-mr-2"></p-chip>

      <p class="sprint-dropdown-header-item">Total:</p>
      <p-chip class="sprint-dropdown-header-item sprint-dropdown-header-chip" label="{{data.pointsAttempted}}" styleClass="p-mr-2"></p-chip>

      <i
        *ngIf="!data.isBacklog && !sprintStarted && !data.isCompleted"
        pTooltip="Sprint has not started yet" tooltipPosition="bottom"
        class="pi pi-hourglass sprint-dropdown-header-item"
        style="font-size: 2rem; color: var(--red-500);"
      ></i>
      <i
        *ngIf="!data.isBacklog && sprintStarted && !data.isCompleted"
        pTooltip="Sprint is in progress" tooltipPosition="bottom"
        class="pi pi-clock sprint-dropdown-header-item"
        style="font-size: 2rem; color: var(--yellow-500);"
      ></i>
      <i
        *ngIf="!data.isBacklog && sprintStarted && data.isCompleted"
        pTooltip="Sprint is completed" tooltipPosition="bottom"
        class="pi pi-check-circle sprint-dropdown-header-item"
        style="font-size: 2rem; color: var(--green-500);"
      ></i>
    </div>
  </ng-template>

  <ng-template pTemplate="body">
    <div class="sprint-dropdown-content">
      <title-inplace class="sprint-dropdown-content-item" [entityData]="data" size="medium"></title-inplace>

      <span class="sprint-dropdown-content-item">
        <button
          pButton pRipple
          type="button" icon="pi pi-ellipsis-v"
          class="p-button-rounded p-button-secondary p-button-text"
          (click)="optionsMenu.toggle($event)"
        ></button>
        <p-menu #optionsMenu [popup]="true" [model]="optionsMenuItems"></p-menu>
      </span>

      <span *ngIf="!data.isBacklog" id="dates-container" class="sprint-dropdown-content-item">
        <date-inplace
          [entityData]="data"
          whichDate="start"
          [disabled]="data.isCompleted"
        ></date-inplace>
        <i class="pi pi-minus date-minus"></i>
        <date-inplace
          [entityData]="data"
          whichDate="end"
          [disabled]="data.isCompleted"
        ></date-inplace>
      </span>

      <div id="goal-container">
        <p id="goal-label">Goal</p>
        <description-inplace
          [entityData]="data"
          defaultText="Enter a goal..."
        ></description-inplace>
      </div>
    </div>

    <p-divider></p-divider>

    <h4 id="tasks-header">Tasks</h4>

    <button
      pButton pRipple
      type="button"
      label="Create Task"
      class="p-button-success p-button-sm task-modal-button"
      icon="pi pi-plus"
      (click)="showCreateTaskModal()"
      [ngStyle]="{'margin-bottom': data.tasks.length === 0 ? '0' : 'var(--content-padding)'}"
    ></button>

    <p-accordion [multiple]="true">
      <task-dropdown *ngFor="let task of data.tasks" [taskData]="task"></task-dropdown>
    </p-accordion>
  </ng-template>
</p-accordionTab>

<create-task-modal
  #createTaskModal
  [sprintData]="data"
></create-task-modal>

<p-confirmDialog
  header="Confirm Sprint Deletion"
  icon="pi pi-exclamation-triangle"
  acceptIcon="pi pi-trash"
  acceptLabel="Delete"
  acceptButtonStyleClass="p-button-danger"
  rejectIcon=""
  rejectLabel="Cancel"
  rejectButtonStyleClass="p-button-text p-button-secondary"
></p-confirmDialog>
