<p-accordionTab
  *ngIf="!hidden"
  [selected]="!collapsed"
>
  <ng-template pTemplate="header">
    <div [class.backlog-dropdown-header]="data.isBacklog" class="sprint-dropdown-header">
      <p *ngIf="!data.isBacklog" class="sprint-dropdown-header-item" id="sprint-dropdown-header-title">{{ data.name }} | {{ sprintFormattedStartDate }} - {{ sprintFormattedEndDate }}</p>
      <p *ngIf="data.isBacklog" class="sprint-dropdown-header-item" id="sprint-dropdown-header-title">{{ data.name }}</p>

      <p *ngIf="!data.isBacklog" class="sprint-dropdown-header-item">Completed:</p>
      <p-chip *ngIf="!data.isBacklog" class="sprint-dropdown-header-item sprint-dropdown-header-chip" label="{{data.pointsCompleted}}" styleClass="p-mr-2"></p-chip>

      <p class="sprint-dropdown-header-item">Total:</p>
      <p-chip class="sprint-dropdown-header-item sprint-dropdown-header-chip" label="{{data.pointsAttempted}}" styleClass="p-mr-2"></p-chip>

      <i
        *ngIf="!data.isBacklog && !sprintStarted && !data.isCompleted"
        pTooltip="Sprint has not started yet" tooltipPosition="bottom"
        class="pi pi-hourglass sprint-dropdown-header-item"
        style="font-size: 2rem; color: var(--red-500);"
      ></i>
      <i
        *ngIf="!data.isBacklog && sprintStarted && !data.isCompleted"
        pTooltip="Sprint is in progress" tooltipPosition="bottom"
        class="pi pi-clock sprint-dropdown-header-item"
        style="font-size: 2rem; color: var(--yellow-500);"
      ></i>
      <i
        *ngIf="!data.isBacklog && sprintStarted && data.isCompleted"
        pTooltip="Sprint is completed" tooltipPosition="bottom"
        class="pi pi-check-circle sprint-dropdown-header-item"
        style="font-size: 2rem; color: var(--green-500);"
      ></i>
    </div>
  </ng-template>

  <ng-template pTemplate="body">
    <div class="sprint-dropdown-content">
      <title-inplace class="sprint-dropdown-content-item" [entityData]="data" size="medium"></title-inplace>

      <span class="sprint-dropdown-content-item">
        <button
          pButton pRipple
          type="button" icon="pi pi-ellipsis-v"
          class="p-button-rounded p-button-secondary p-button-text"
          (click)="optionsMenu.toggle($event)"
        ></button>
        <p-menu #optionsMenu [popup]="true" [model]="optionsMenuItems"></p-menu>
      </span>

      <span *ngIf="!data.isBacklog" id="dates-container" class="sprint-dropdown-content-item">
        <date-inplace
          [entityData]="data"
          whichDate="start"
          [disabled]="data.isCompleted"
        ></date-inplace>
        <i class="pi pi-minus date-minus"></i>
        <date-inplace
          [entityData]="data"
          whichDate="end"
          [disabled]="data.isCompleted"
        ></date-inplace>
      </span>

      <div id="goal-container">
        <p id="goal-label">Goal</p>
        <description-inplace
          [entityData]="data"
          defaultText="Enter a goal..."
        ></description-inplace>
      </div>
    </div>

    <p-divider></p-divider>

    <h4 id="tasks-header">Tasks</h4>

    <button
      pButton pRipple
      type="button"
      label="Create Task"
      class="p-button-success p-button-sm task-modal-button"
      icon="pi pi-plus"
      (click)="showCreateTaskModal()"
      [ngStyle]="{'margin-bottom': data.tasks.length === 0 ? '0' : 'var(--content-padding)'}"
    ></button>

    <div id="tasks">
      <task-overview
        *ngFor="let task of data.tasks"
        [taskData]="task"
      ></task-overview>
    </div>
  </ng-template>
</p-accordionTab>

<create-task-modal
  #createTaskModal
  [sprintData]="data"
></create-task-modal>

<p-confirmDialog
  #deleteSprintDialog
  id="delete-sprint-dialog"
  header="Confirm Sprint Deletion"
  icon="pi pi-exclamation-triangle"
  acceptIcon="pi pi-trash"
  acceptLabel="Delete"
  acceptButtonStyleClass="p-button-danger"
  rejectIcon=""
  rejectLabel="Cancel"
  rejectButtonStyleClass="p-button-text p-button-secondary"
></p-confirmDialog>

<p-dialog
  #manageIncompleteTasksDialog
  id="manage-incomplete-tasks-dialog"
  [header]="'What do you want to do with ' + numIncompleteTasks + ' incomplete task(s)?'"
  [(visible)]="manageIncompleteTasksDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <div id="manage-incomplete-tasks-body">

    <p-radioButton
      name="incompleteTasksAction"
      value="moveToBacklog"
      [(ngModel)]="incompleteTasksAction"
      inputId="moveToBacklog"
    ></p-radioButton>
    <p
      class="radiobutton-label"
      (click)="incompleteTasksAction = 'moveToBacklog'"
    >Move tasks to backlog:</p>
    <p-dropdown
      [options]="availableBacklogs"
      [(ngModel)]="selectedAvailableBacklog"
      [disabled]="incompleteTasksAction !== 'moveToBacklog' && availableBacklogErrorVisibility === 'hidden'"
      scrollHeight="200px"
    >
      <ng-template pTemplate="selectedItem">
        <div>{{selectedAvailableBacklog.id}}: {{selectedAvailableBacklog.name}}</div>
      </ng-template>
      <ng-template let-backlog pTemplate="item">
        <div>{{backlog.id}}: {{backlog.name}}</div>
      </ng-template>
    </p-dropdown>
    <p-message
      severity="error"
      text="No backlogs available"
      [ngStyle]="{'visibility': availableBacklogErrorVisibility}"
    ></p-message>

    <p-radioButton
      name="incompleteTasksAction"
      value="moveToSprint"
      [(ngModel)]="incompleteTasksAction"
      inputId="moveToSprint"
    ></p-radioButton>
    <p
      class="radiobutton-label"
      (click)="incompleteTasksAction = 'moveToSprint'"
      >Move tasks to sprint: </p>
    <p-dropdown
      [options]="availableSprints"
      [(ngModel)]="selectedAvailableSprint"
      [disabled]="incompleteTasksAction !== 'moveToSprint' && availableSprintErrorVisibility === 'hidden'"
      scrollHeight="200px"
    >
      <ng-template pTemplate="selectedItem">
        <div>{{selectedAvailableSprint.id}}: {{selectedAvailableSprint.name}}</div>
      </ng-template>
      <ng-template let-sprint pTemplate="item">
        <div>{{sprint.id}}: {{sprint.name}}</div>
      </ng-template>
    </p-dropdown>
    <p-message
      severity="error"
      text="No alternate sprints available"
      [ngStyle]="{'visibility': availableSprintErrorVisibility}"
    ></p-message>

    <p-radioButton
      name="incompleteTasksAction"
      value="markAsDone"
      [(ngModel)]="incompleteTasksAction"
      inputId="markAsDone"
    ></p-radioButton>
    <p
      class="radiobutton-label"
      (click)="incompleteTasksAction = 'markAsDone'"
    >{{incompleteTasksProcess === 'sprintCompletion' ? 'Mark tasks as done' : 'Delete incomplete tasks too'}}</p>

  </div> <!-- manage-incomplete-tasks-body -->

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-text p-button-secondary"
      (click)="manageIncompleteTasksDialogVisible = false;"
    ></p-button>
    <p-button
      [label]="incompleteTasksProcess === 'sprintCompletion' ? 'Continue' : 'Finish'"
      icon="pi pi-check"
      styleClass="p-button-success"
      (click)="completeManageIncompleteTasksModal()"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  #sprintReportDialog
  id="sprint-report-dialog"
  header="Sprint Report"
  [(visible)]="sprintReportDialogVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <div id="sprint-report-body">
    <div id="sprint-report-name">
      <h3>{{data.id}}: {{ data.name }}</h3>
    </div>

    <div id="sprint-report-dates">
      <h4 id="sprint-report-start-date">Start Date: {{ sprintFormattedStartDate }}</h4>
      <h4 id="sprint-report-end-date">End Date: {{ sprintFormattedEndDate }}</h4>
    </div>

    <div id="sprint-report-goal">
      <h4>Goal:</h4>
      <div [innerHTML]="data.goal ? data.goal : 'No goal'"></div>
    </div>

    <apx-chart
      [series]="tasksPieChartOptions.series ?? []"
      [chart]="tasksPieChartOptions.chart ?? {'type': 'pie'}"
      [labels]="tasksPieChartOptions.labels ?? []"
      [title]="tasksPieChartOptions.title ?? {'text': ''}"
      [fill]="tasksPieChartOptions.fill ?? {}"
      [colors]="tasksPieChartOptions.colors ?? []"
    ></apx-chart>

    <apx-chart
      [series]="pointsPieChartOptions.series ?? []"
      [chart]="pointsPieChartOptions.chart ?? {'type': 'pie'}"
      [labels]="pointsPieChartOptions.labels ?? []"
      [title]="pointsPieChartOptions.title ?? {'text': ''}"
      [fill]="pointsPieChartOptions.fill ?? {}"
      [colors]="pointsPieChartOptions.colors ?? []"
    ></apx-chart>

    <apx-chart
      id="sprint-report-burndown-chart"
      [series]="burndownChartOptions.series ?? []"
      [chart]="burndownChartOptions.chart ?? {'type': 'pie'}"
      [dataLabels]="burndownChartOptions.dataLabels ?? {}"
      [markers]="burndownChartOptions.markers ?? {}"
      [title]="burndownChartOptions.title ?? {'text': ''}"
      [fill]="burndownChartOptions.fill ?? {}"
      [stroke]="burndownChartOptions.stroke ?? {}"
      [yaxis]="burndownChartOptions.yaxis ?? {}"
      [xaxis]="burndownChartOptions.xaxis ?? {}"
    ></apx-chart>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Done"
      icon="pi pi-check"
      styleClass="p-button-success"
      (click)="completeSprintReport()"
    ></p-button>
  </ng-template>
</p-dialog>
