<p-dropdown
  [(ngModel)]="currentLabel"
  [disabled]="taskPickerDisabled"
  [options]="availableLabels"
  optionLabel="name"
  placeholder="Select a label..."
  [showClear]="true"
  (onChange)="updateSelectedLabel($event)"
>
  <ng-template pTemplate="selectedItem">
    <div class="availableLabel-item" *ngIf="currentLabel">
      <span class="label-color-swatch" [ngStyle]="{'background-color': currentLabel.color}"></span>
      <code>{{ currentLabel.name }}</code>
    </div>
  </ng-template>

  <ng-template pTemplate="item" let-availableLabel>
    <div class="availableLabel-item">
      <span class="label-color-swatch" [ngStyle]="{'background-color': availableLabel.color}"></span>
      <code>{{ availableLabel.name }}</code>
    </div>
  </ng-template>
</p-dropdown>

<task-overview
  *ngFor="let task of tasksByLabel"
  [taskData]="task"
></task-overview>
