#modal-forms {
  padding-top: var(--content-padding);
  margin-bottom: var(--content-padding);
}

.p-float-label {
  margin-bottom: var(--content-padding);
}

.date-input {
  margin-bottom: var(--content-padding);
}

#accept-button, #cancel-button {
  width: 3rem;
  aspect-ratio: 1 / 1;
  margin: 0;
}

#cancel-button {
  margin-left: 0.75rem;
}

:host ::ng-deep {
  .p-dialog {
    width: 560px;
    height: 860px;
  }

  .p-dialog-footer {
    text-align: left;
    padding-top: 1.5rem;
  }
  
  @media only screen and (max-width: 768px) {
    .p-dialog {
      width: 400px;
    }
  }

  .p-colorpicker-panel {
    margin-top: var(--content-padding);
    border-radius: calc(var(--border-radius)/1.5);
  }
}
