<div id="gantt-page">
  <button
    pButton
    id="project-back-button"
    class="p-button-raised p-button-sm"
    type="button"
    label="Back to Project"
    icon="pi pi-arrow-left"
    [routerLink]="['/project', projectId]"
  ></button>

  <div id="view-modes-container">
    <p-radioButton
      name="dateViewModes"
      value="day"
      label="Day"
      [(ngModel)]="dateViewMode"
      (onClick)="updateDateViewMode('day')"
    ></p-radioButton>
    <p-radioButton
      name="dateViewModes"
      value="week"
      label="Week"
      [(ngModel)]="dateViewMode"
      (onClick)="updateDateViewMode('week')"
    ></p-radioButton>
    <p-radioButton
      name="dateViewModes"
      value="month"
      label="Month"
      [(ngModel)]="dateViewMode"
      (onClick)="updateDateViewMode('month')"
    ></p-radioButton>
    <p-radioButton
      name="dateViewModes"
      value="quarter"
      label="Quarter"
      [(ngModel)]="dateViewMode"
      (onClick)="updateDateViewMode('quarter')"
    ></p-radioButton>
    <p-radioButton
      name="dateViewModes"
      value="year"
      label="Year"
      [(ngModel)]="dateViewMode"
      (onClick)="updateDateViewMode('year')"
    ></p-radioButton>

    <p-button
      id="today-button"
      styleClass="p-button-sm"
      label="Today"
      icon="pi pi-calendar"
      (onClick)="gantt.scrollToToday()"
    ></p-button>

    <div id="task-view-mode-label">Task View Mode</div>
    <p-radioButton
      class="task-organization-selectors"
      name="taskOrganizationModes"
      value="standalone"
      label="Standalone"
      [(ngModel)]="taskOrganizationMode"
      (onClick)="updateTaskOrganizationMode('standalone')"
    ></p-radioButton>
    <p-radioButton
      class="task-organization-selectors"
      name="taskOrganizationModes"
      value="sprint"
      label="Within Sprints"
      [(ngModel)]="taskOrganizationMode"
      (onClick)="updateTaskOrganizationMode('sprint')"
    ></p-radioButton>
    <p-radioButton
      class="task-organization-selectors"
      name="taskOrganizationModes"
      value="epic"
      label="Within Epics"
      [(ngModel)]="taskOrganizationMode"
      (onClick)="updateTaskOrganizationMode('epic')"
    ></p-radioButton>
  </div>

  <div
    id="page-loading"
    *ngIf="loading"
    [@basicFadeAnimation]
  >
    <p-progressSpinner></p-progressSpinner>
  </div>

  <ngx-gantt
    #gantt
    *ngIf="!loading"
    [@basicFadeAnimation]
    [items]="items"
    [groups]="groups"
    [selectable]="true"
    [viewOptions]="viewOptions"
    [draggable]="true"
    [linkable]="true"
    [viewType]="dateViewMode"
    (barClick)="itemBarClick($event)"
    (selectedChange)="itemTitleClick($event)"
    (linkDragEnded)="itemDependencyCreate($event)"
    (dragEnded)="itemMove($event)"
    (lineClick)="itemDependencyClick($event)"
  >
    <ngx-gantt-table>
      <ngx-gantt-column name="Title" width="200px">
        <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
      </ngx-gantt-column>
      <ngx-gantt-column name="Start Date" width="120px">
        <ng-template #cell let-item="item">
          {{ format(item.start * 1000, 'MM-dd-yyyy') }}
        </ng-template>
      </ngx-gantt-column>
      <ngx-gantt-column name="End Date" width="120px">
        <ng-template #cell let-item="item">
          {{ format(item.end * 1000, 'MM-dd-yyyy') }}
        </ng-template>
      </ngx-gantt-column>
    </ngx-gantt-table>
    <ng-template #bar let-item="item">
      <div
        [pTooltip]="item.title"
        tooltipPosition="bottom"
      >{{ item.title }}</div>
    </ng-template>
  </ngx-gantt>
</div>

<p-confirmDialog
  id="delete-sprint-dialog"
  header="Confirm Dependency Deletion"
  icon="pi pi-exclamation-triangle"
  acceptIcon="pi pi-trash"
  acceptLabel="Delete"
  acceptButtonStyleClass="p-button-danger"
  rejectLabel="Cancel"
  rejectButtonStyleClass="p-button-text p-button-secondary"
></p-confirmDialog>

<p-toast></p-toast>
