<div id="page-loading" *ngIf="pageLoading" [@basicFadeAnimation]>
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!pageLoading" [@basicFadeAnimation]>
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button pButton id="project-back-button" class="p-button-raised p-button-sm" type="button" label="Back" icon="pi pi-arrow-left" (click)="this.location.back()"></button>
    </div>
    <div class="p-toolbar-group-center">
      <title-inplace [entityData]="taskData" size="large"></title-inplace>
    </div>
    <div class="p-toolbar-group-end">
      <span>{{ taskData.assignee }}</span>
      <button pButton id="project-Delete-button" class="p-button-raised p-button-sm" type="button" icon="pi pi-trash" (click)="deleteTask()"></button>
    </div>
  </p-toolbar>

  <p-chip label="{{taskData.storyPoints}}" styleClass="p-mr-2"></p-chip>
  <app-progress-picker [data]="taskData" #progressPicker></app-progress-picker>
  <app-type-picker [data]="taskData" #typePicker></app-type-picker>

  <div class="relation-section">
    <div class="relation-dependency-row">
      <p-multiSelect [options]="allLabels" [(ngModel)]="taskData.labels" optionLabel="name" defaultLabel="Label Relations" display="chip" (ngModelChange)="updateLabels($event)">
      </p-multiSelect>
      <dependency-dropdown [dependencies]="taskData.dependencies" #dependencyDropdown></dependency-dropdown>
    </div>
    <div class="dependency-controls">
      <dependency-picker [data]="taskData" #dependencyPicker></dependency-picker>
      <delete-dependency-picker [data]="taskData" #deleteDependencyPicker></delete-dependency-picker>
    </div>
  </div>

  <description-inplace [entityData]="taskData" defaultText="Enter a description..."></description-inplace>

  <div class="dates-section">
    <date-inplace
        [entityData]="taskData"
        [validationEntityData]="sprintData"
        whichDate="start"
    ></date-inplace>
    <i class="pi pi-minus date-minus"></i>
    <date-inplace
        [entityData]="taskData"
        [validationEntityData]="sprintData"
        whichDate="end"
    ></date-inplace>
  </div>

  <div class="funds-section">
    <funds-inplace [entityData]="taskData"></funds-inplace>
  </div>
</div>
