<div id="signup-card">
  <p-card header="Sign up for Cuttlefish">
    <form [formGroup]="signUpForm">
      <span class="p-float-label">
        <input
          pInputText type="text"
          formControlName="username"
        >
        <label for="username-input">Username</label>
      </span>

      <span class="p-float-label">
        <input
          pInputText type="text"
          formControlName="email"
        >
        <label for="email-input">Email</label>
      </span>
    
      <span class="p-float-label">
        <p-password
          formControlName="password"
          [toggleMask]="true"
          weakLabel="Invalid, too weak"
          [mediumRegex]="medStrongRegex"
          strongLabel="Valid, strong password"
          [strongRegex]="medStrongRegex"
        >
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p>Requirements</p>
            <ul>
              <li>At least 8 characters</li>
              <li>At least one number</li>
              <li>At least one uppercase letter</li>
              <li>At least one special character <code>{{specialCharsRegex}}</code></li>
            </ul>
          </ng-template>
        </p-password>
        <label for="password-input">Password</label>
      </span>

      <span class="p-float-label">
        <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
        ></p-password>
        <label for="password-input">Confirm Password</label>
      </span>

      <p-messages></p-messages>
    
      <p-button
        id="signup-button"
        label="Sign Up"
        [disabled]="signUpForm.invalid"
        [loading]="signUpButtonLoading"
        type="submit"
        (onClick)="Signup()"
      ></p-button>

      <div id="login-section">
        <span class="label-text">Have an account?</span>
        <p-button
          id="login-button"
          label="Log In"
          styleClass="p-button-link"
          [routerLink]="['/login']"
        ></p-button>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <p class="label-text">Sign up with...</p>
      <p-button id="facebook-button" icon="pi pi-facebook" [routerLink]="['/fb-login']"></p-button>
      <p-button id="google-button" icon="pi pi-google"></p-button>
      <p-button id="github-button" icon="pi pi-github"></p-button>
    </ng-template>
  </p-card>
</div>
