<div id="login-card">
  <p-card header="Log in to Cuttlefish">
    <form [formGroup]="loginForm">
      <span class="p-float-label">
        <input
          pInputText type="text"
          formControlName="username"
        >
        <label for="username-input">Username or Email</label>
      </span>
      <span class="p-float-label">
        <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
        ></p-password>
        <label for="password-input">Password</label>
      </span>
      <p-messages></p-messages>
      <p-button
        id="login-button"
        label="Log In"
        [disabled]="loginForm.invalid"
        [loading]="loginButtonLoading"
        type="submit"
        (onClick)="Login()"
      ></p-button>
      <p-button
        label="Forgot Password?"
        styleClass="p-button-link"
        [routerLink]="['/forgotpassword']"
      ></p-button>
      <div id="signup-section">
        <span class="label-text">Don't have an account?</span>
        <p-button
          id="signup-button"
          label="Sign Up"
          styleClass="p-button-link"
          [routerLink]="['/signup']"
        ></p-button>
      </div>
    </form>
  </p-card>
</div>
