#login-card {
  display: grid;
}

.label-text {
  font-weight: 500;
  color: var(--text-color);
}

:host ::ng-deep {
  #signup-button button.p-button {
    margin-left: 0.5rem;
    padding: 0;
  }

  .p-card-content {
    padding-bottom: 0;
  }
  
  p-card {
    width: 50vw;
    margin: 3rem auto;
  }

  .p-password, .p-inputtext {
    width: 100%;
  }

  .p-float-label:has(.p-password), #login-button, #signup-section {
    margin-top: calc(var(--content-padding) * 1.25);
  }
}
