.custom-overlay {
  width: 300px; // Adjust the width of the overlay panel
}

.overlay-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.custom-button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--surface-a);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-align: center;
  vertical-align: middle;

  &:hover {
    background-color: var(--primary-color-darker);
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: var(--focus-box-shadow);
  }
}

.add-dependency-button {
  background-color: var(--success-color);
  
  &:hover {
    background-color: var(--success-color-darker);
  }
}
