<div
  id="page-loading"
  *ngIf="pageLoading"
  [@basicFadeAnimation]
>
  <p-progressSpinner></p-progressSpinner>
</div>
<div
  *ngIf="!pageLoading"
  [@basicFadeAnimation]
>
  <div id="color-and-title">
    <color-inplace
      [projectData]="projectData"
    ></color-inplace>
    <title-inplace
      [entityData]="projectData"
      size="large"
    ></title-inplace>
  </div>

  <date-inplace
    [entityData]="projectData"
    [childEntityData]="projectData.sprints"
    whichDate="start"
  ></date-inplace>
  <i class="pi pi-minus" id="date-minus"></i>
  <date-inplace
    [entityData]="projectData"
    [childEntityData]="projectData.sprints"
    whichDate="end"
  ></date-inplace>

  <funds-inplace
    [entityData]="projectData"
  ></funds-inplace>

  <p id="description-label">Description</p>
  <description-inplace
    [entityData]="projectData"
    defaultText="Enter a description..."
  ></description-inplace>

  <button
    pButton
    id="gantt-chart-button"
    class="p-button-sm"
    type="button"
    label="Gantt Chart"
    icon="pi pi-chart-bar"
    [routerLink]="['/project', projectData.id, 'gantt']"
  ></button>

  <p-divider></p-divider>

  <h2 id="sprints-header">Sprints</h2>

  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button
        pButton pRipple
        type="button"
        label="Create Sprint"
        class="p-button-success p-button-sm"
        icon="pi pi-plus"
        (click)="showCreateSprintModal()"
      ></button>
    </div>

    <div class="p-toolbar-group-end">
      <div class="sprint-options">
        <p-button
          id="collapse-all-button"
          [icon]="collapseButtonIcon"
          [label]="collapseButtonText"
          styleClass="p-button-sm sprint-option"
          (onClick)="toggleCollapseSprints()"
        ></p-button>
        
        <p-checkbox
          [(ngModel)]="completedSprintsShown"
          label="Show Completed Sprints"
          [binary]="true"
          (onChange)="toggleHideCompletedSprints($event)"
          class="sprint-option"
        ></p-checkbox>
      </div>
    </div>

  </p-toolbar>

  <p-accordion [multiple]="true" cdkDropListGroup>
    <ng-container *ngFor="let sprint of projectData.sprints; let i = index">
      <p-divider *ngIf="sprint.isBacklog && projectData.sprints.length > 1 && i > 0 && !projectData.sprints[i-1].isBacklog"></p-divider>
      <sprint-dropdown
        #sprintDropdown
        [data]="sprint"
        [projectData]="projectData"
        (deleteSprint)="deleteSprint(sprint.id)"
        (moveTaskAcrossSprints)="removeTaskFromSprint($event)"
      ></sprint-dropdown>
    </ng-container>
  </p-accordion>

  <p-toast></p-toast>

  <create-sprint-modal
    #createSprintModal
    [projectData]="projectData"
  ></create-sprint-modal>
</div>
