#color-and-title {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: calc(var(--content-padding) * 0.3);
  margin-bottom: var(--content-padding);
}

color-inplace, title-inplace {
  margin: auto 0;
}

:host ::ng-deep {
  .p-toolbar {
    margin-bottom: var(--content-padding);
  }

  p-progressSpinner {
    margin-left: auto;
    margin-right: auto;
  }
}

.sprint-options {
  width: 100%;
  display: grid;
  column-gap: 0.75rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 100%;
}

#page-loading {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}

#date-minus {
  margin: auto 0.7rem;
}

#gantt-chart-button {
  display: block;
  margin-top: var(--content-padding);
}

#description-label {
  margin: var(--content-padding) 0 0;
  font-size: large;
  font-weight: 600;
}
