footer {
  background-color: var(--surface-b);

  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);

  color: var(--text-color);

  padding: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

#footer-content-container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100%;
}

.footer-content-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuttlefish-logo {
  filter: grayscale(100%);
}
