html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {
  margin: 1.5rem auto;
}

.hidden-nav {
  margin-top: auto;
}