<div id="reset-password-card">
  <p-button
    label="Back to Login"
    icon="pi pi-arrow-left"
    styleClass="p-button-link"
    [routerLink]="['/login']"
  ></p-button>
  <p-card header="Reset password">
    <form [formGroup]="resetPasswordForm">
      <span class="p-float-label">
        <p-password
          formControlName="newpassword"
          [toggleMask]="true"
          weakLabel="Invalid, too weak"
          [mediumRegex]="medStrong"
          strongLabel="Valid, strong password"
          [strongRegex]="medStrong"
        >
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p>Requirements</p>
            <ul>
              <li>At least 8 characters</li>
              <li>At least one number</li>
              <li>At least one uppercase letter</li>
              <li>At least one special character <code>{{specialChars}}</code></li>
            </ul>
          </ng-template>
        </p-password>
        <label for="password-input">Password</label>
      </span>

      <span class="p-float-label">
        <p-password
          id="confirm-password-input"
          formControlName="confirmpassword"
          [toggleMask]="true"
          [feedback]="false"
        ></p-password>
        <label for="password-input">Confirm New Password</label>
      </span>

      <p-messages></p-messages>

      <p-button
        id="reset-password-button"
        label="Reset Password"
        [disabled]="resetPasswordForm.invalid"
        [loading]="resetPasswordButtonLoading"
        type="submit"
        (onClick)="resetPassword()"
      ></p-button>
    </form>
  </p-card>
</div>
