a {
  color: var(--text-color);
  text-decoration: none;
}

.task-overview {
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-d);
  background-color: var(--surface-b);
  padding: calc(var(--content-padding) * 0.5);

  display: grid;
  column-gap: 0.75rem;
  grid-template-columns: min-content repeat(2, 1fr) repeat(4, min-content);
  grid-template-rows: repeat(2, min-content);
}

#task-overview-placeholder {
  width: 100%;
  height: 82px;
  border: 3px dotted var(--surface-d);
}

.draggable-handle, .task-title-text, .task-description-text, .task-type, .task-avatar, .task-progress, .task-story-points {
  margin-top: auto;
  margin-bottom: auto;
}

.draggable-handle {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: var(--border-radius);
}

.draggable-handle:hover {
  cursor: grab;
  background-color: var(--surface-c);
}

.draggable-handle:active {
  cursor: grabbing;
}

.task-title-text, .task-description-text {
  margin: 0;
}

.task-title-text {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 500;
}

.task-title {
  grid-area: 1 / 2 / 2 / 4;
}

.nodragdrop-task-title {
  grid-area: 1 / 1 / 2 / 4;
  margin-left: 0.5rem;
}

.task-title-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task-description-text {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
}

.task-description {
  grid-area: 2 / 2 / 3 / 4;
}

.nodragdrop-task-description {
  grid-area: 2 / 1 / 3 / 4;
  margin-left: 0.5rem;
}

.task-labels {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 0.25rem;
  align-items: center;
  grid-area: 2 / 4 / 2 / 7;
}

@media screen and (min-width: 1200px) {
  .task-overview {
    grid-template-columns: min-content repeat(2, 1fr) repeat(5, min-content);
  }

  .task-labels {
    grid-template-columns: none;
    grid-template-rows: auto;
    row-gap: 0.25rem;
  }

  .task-labels, .task-type, .task-avatar, .task-progress, .task-story-points {
    grid-area: 1 / auto / 3 / auto;
  }
}
