#project-cards-container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--content-padding);
  row-gap: var(--content-padding);
}

@media only screen and (max-width: 768px) {
  #project-cards-container {
    grid-template-columns: repeat(1, auto);
  }
}

#project-modal-button-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.project-modal-button {
  margin-top: var(--content-padding);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: var(--text-color);
}
