<p-tag styleClass="mr-2" (click)="overlayPanel.toggle($event)" value="{{selectedProgress}}"></p-tag>
<p-overlayPanel
  [dismissable]="true"
  [showCloseIcon]="true"
  [style]="{width: '300px'}"
  #overlayPanel
  (onHide)="cancelInput()"
>
  <div class="options">
    <button pButton (click)="showOption('Backlog'); overlayPanel.hide()">Backlog</button>
    <button pButton (click)="showOption('In Progress'); overlayPanel.hide()">In Progress</button>
    <button pButton (click)="showOption('In Review'); overlayPanel.hide()">In Review</button>
    <button pButton (click)="showOption('Done'); overlayPanel.hide()">Done</button>
  </div>
</p-overlayPanel>

<p-toast></p-toast>
