<footer>
  <div id="footer-content-container">
    <div class="footer-content-item">
      <a href="https://github.com/NathanJesudason/Cuttlefish" target="_blank">
        <img src="assets/cuttlefish_logo.png" alt="Cuttlefish Logo" height="50px">
      </a>
    </div>
    <div class="footer-content-item">
      <a href="https://github.com/NathanJesudason/Cuttlefish" target="_blank">
        <i class="pi pi-github" style="font-size: 2.5rem;"></i>
      </a>
    </div>
    <div class="footer-content-item">
      <a href="https://github.com/NathanJesudason/Cuttlefish/issues/new" target="_blank">
        <p-button styleClass="p-button-link" label="Report Issue" icon="pi pi-external-link" iconPos="right"></p-button>
      </a>
    </div>
    <div class="footer-content-item">
      <a href="https://github.com/NathanJesudason/Cuttlefish" target="_blank">
        <p-button styleClass="p-button-link" label="Changelog" icon="pi pi-external-link" iconPos="right"></p-button>
      </a>
    </div>
  </div>
</footer>
