.custom-overlay {
  width: 300px;
}

.overlay-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.custom-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;

  &:hover {
    background-color: #0056b3;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
}

.remove-dependency-button {
  background-color: var(--red-500);
  
  &:hover {
    background-color: var(--red-600);
  }
}
