title-inplace {
  display: block;
  margin-bottom: 0.6em;
}

:host ::ng-deep {
  .p-toolbar {
    margin-bottom: var(--content-padding);
  }
}

.sprint-options {
  width: 100%;
  display: grid;
  column-gap: 0.75rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 100%;
}

.sprint-option {
  margin-top: auto;
  margin-bottom: auto;
}

#labels-page-button {
  margin-left: var(--content-padding);
}
